<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkb849-upOwYFvTj4YCYZrcfzcnZ0-UUs</string>
	<key>GCM_SENDER_ID</key>
	<string>589340036250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marpark.Tripish</string>
	<key>PROJECT_ID</key>
	<string>tripish-99bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>tripish-99bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589340036250:ios:ed1ef0d5a55b7ee8d8e323</string>
</dict>
</plist>